source_workflow/18th/18. AI News Curation For Workflow call.json
{
  "name": "AI News Curation For Workflow call",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e35eb550-9197-4bb8-ad7f-b96d0814c236",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        512
      ],
      "id": "4932bd3b-e70f-4b86-9b29-ecffb1a93ebd",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "KQZvlydfNL4rV435",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        256
      ],
      "id": "987d7d73-d315-40d5-944c-2c74dec66a5e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ai news를 찾을 때 쓰는 vector store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        576,
        256
      ],
      "id": "f29e218e-fe44-46bd-a921-191527abb5b3",
      "name": "news vector store",
      "credentials": {
        "supabaseApi": {
          "id": "OJue8nmdRqyBI5uL",
          "name": "newhackers supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "article_id를 활용한 전문분석, 등급 판단 이유 등의 이유 분석 시 사용함 ",
        "operation": "get",
        "tableId": "articles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        880,
        256
      ],
      "id": "b1aff1fa-9aea-4ed0-9120-bffd74ed500e",
      "name": "article table query",
      "credentials": {
        "supabaseApi": {
          "id": "OJue8nmdRqyBI5uL",
          "name": "newhackers supabase"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=너는 AI News Curation 전문가야 \nVectore Store에서 사용자가 원하는 내용을 검색해줘\n\n{{ $json.query }}\n\n최대한 빠르게 응답을 주기 위해서 원문 그대로 답을 주세요\n\n## Tool\n- news Vector Store\n  - 기사 검색 용도\n\n## 출력 형식\n- 불필요한 메타 정보에 대한 설명 등은 빼주세요 \n- article ID는 직접 노출하지는 말고 기사 제목 등으로 사용자가 지정하면 내부적으로 활용해주세요\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "4a8a4a1b-890f-4e94-8f23-07fb62680782",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        256
      ],
      "id": "cea2a59e-b867-486b-8903-68ab4587bba7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KQZvlydfNL4rV435",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "news vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "news vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "article table query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6571cbb-a021-4a30-a5d8-4d8b72de7223",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "ewJaordDxYyTnRE3",
  "tags": []
}