source_workflow/17/17. Match Youtubers Agent1.json
{
  "name": "Match Youtubers Agent1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        -16
      ],
      "id": "63b93c1a-a264-4cc1-81cc-f50028f4bf79",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3df88cf-81a7-4925-b726-51585aeaa812",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "b537a26c-3bf0-4298-84a0-bdefb1cc806f",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[ROLE]\n너는 광고 캠페인 브리프의 상세 내용을 요약하는 AI다\n\n[요청사항]\n아래 캠페인 정보를 바탕으로 이 캠페인의 핵심 의도(intent)를 1~2 문장으로 요약해줘.\n\n[캠페인 정보]\n- **회사명:** {{ $json.data.companyName }}\n- **제품/서비스:** {{ $json.data.productName }}\n- **상세 내용:** {{ $json.data.details }}\n\n**[중요]** 응답은 반드시 요약 텍스트만 반환하며, 다른 말은 하지 마.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1280,
        0
      ],
      "id": "16c88a2c-268d-4484-8896-262eaec72171",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        256
      ],
      "id": "6481cb18-9580-4a60-9cec-296c097e2606",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KQZvlydfNL4rV435",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 2개 앞 노드의 JSON 데이터 참조 (노드 이름: 'Extract from File')\nconst orgJson = $('Extract from File').first().json.data;\n\n// 직전 입력의 output 참조 (예: AI Agent의 요약)\nconst summaryValue = $input.first().json.output;\n\n// Spread로 기존 객체 복사 후 새 변수 추가\nconst newJson = {\n  ...orgJson,\n  summary: summaryValue  // 또는 필요 시 문자열/객체로 조정\n};\n\n// 수정된 JSON을 가진 아이템 반환 (배열 형태)\nreturn [ { json: {analysis : newJson }} ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "id": "5ace6220-24b2-476a-b355-65003c9b9c67",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        0
      ],
      "id": "45d33d92-50f2-46ca-8c17-4ccd82df4f33",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "elanvital-hackers-campaigns",
        "fileName": "={{ $('Get Campaign briefs').item.json.Key.replace(/\\/new\\//, '/processed/') }}",
        "binaryPropertyName": "={{ $('Download campaign brief').item.binary.data }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1536,
        336
      ],
      "id": "37c5a047-c965-4685-8bd9-ff9bb22b84f3",
      "name": "Upload to Processed",
      "credentials": {
        "aws": {
          "id": "GMSXMc2AZDEH5Tkj",
          "name": "AWS S3 Campaign"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "elanvital-hackers-campaigns",
        "fileKey": "={{ $json.Key }}"
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "66efa1b0-0042-48d7-8b68-b8b992ca4f02",
      "name": "Download campaign brief",
      "credentials": {
        "aws": {
          "id": "GMSXMc2AZDEH5Tkj",
          "name": "AWS S3 Campaign"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1072,
        0
      ],
      "id": "f1809d7a-a46e-4299-8524-5d35dda4243f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "elanvital-hackers-campaigns",
        "options": {
          "folderKey": "campaign-briefs/new/"
        }
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "8b03b80a-8002-4f2f-a4ed-2ff9e2dc56be",
      "name": "Get Campaign briefs",
      "credentials": {
        "aws": {
          "id": "GMSXMc2AZDEH5Tkj",
          "name": "AWS S3 Campaign"
        }
      }
    },
    {
      "parameters": {
        "tableId": "campaigns",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "s3_key",
              "fieldValue": "={{ $('Download campaign brief').item.json.Key }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending_approval"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "ai_analysis",
              "fieldValue": "={{ $json.analysis }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ],
      "id": "98233b17-163e-4d22-9cae-54302d1f1a83",
      "name": "Update campaign table info",
      "credentials": {
        "supabaseApi": {
          "id": "CgDN4U1s04H7DLTi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "elanvital-hackers-campaigns",
        "fileKey": "={{ $('Download campaign brief').item.json.Key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1712,
        336
      ],
      "id": "781d5d76-2a8c-46ee-931e-c9100336e4bb",
      "name": "Delete new compaign",
      "credentials": {
        "aws": {
          "id": "GMSXMc2AZDEH5Tkj",
          "name": "AWS S3 Campaign"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1301607555",
        "text": "=새로운 캠패인이 업로드 되었습니다.\n\n{{ \"```json\\n\" + JSON.stringify($('Code in JavaScript').item.json.analysis, null, 2) + \"\\n```\" }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        336
      ],
      "id": "ca703361-6fd5-4838-b685-933ec39d3d6e",
      "name": "Send a text message",
      "webhookId": "828fa21d-e00c-4538-a128-49e6c83ec0be",
      "credentials": {
        "telegramApi": {
          "id": "qWdebRRardNnIODB",
          "name": "Telegram elantestbot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download campaign brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update campaign table info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Campaign briefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Processed": {
      "main": [
        [
          {
            "node": "Delete new compaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download campaign brief": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaign briefs": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update campaign table info": {
      "main": [
        [
          {
            "node": "Upload to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete new compaign": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8363a0a2-ff74-494b-90b8-054af9ec8166",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "1mqfRIAJi5ltFCeB",
  "tags": []
}