source_workflow/14/14. AI New Curation - Query.json
{
  "name": "AI New Curation - Query",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -16
      ],
      "id": "ef935bc3-2987-45ff-a70d-0c084a8d207a",
      "name": "When chat message received",
      "webhookId": "b252997c-b178-4979-99aa-c1af14861f3c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=너는 AI News Curation 전문가야 \nVectore Store에서 사용자가 원하는 내용을 검색해줘\n특히 전문을 찾을 때에는 vectore 를 통해 article id를 얻어서 supabase id 조회 툴을 사용해서 종합해줘\n\n{{ $json.chatInput }}\n\n\n## 시나리오\n\n### 0. 전문 요약 \n- 전문을 요약하기 위해서는 article_id를 활용하여 article 테이블의 content 커럼 활용\n\n### 1. 멀티 기사 요약 시나리오 \n- vector table안에 메타 정보중 summary를 활용해서 여러 아티클 요약 나열함\n- 날짜나 기간은 date 메타 정보 활용 \n\n\n## Tool\n- news Vector Store\n  - 기사 검색 용도\n  - 전문을 달라고 할때는 article_id 반환하여 외부 쿼리 가능호도록 함 \n  - 활용 메타 컬럼 정보 \n    - date : 기사 발행일\n    - link : 기사 원본 링크\n    - summary : 기사 요약\n    - article_id : article 테이블의 ID로 해당 ID를 활용하여 여러 분석 가능\n- article table query\n  - news vector store의 반환 ID를 활용한 분석 활용\n  - content 컬럼을 활용해서 전문 분석 가능\n  - aligment_reason : 기사 추천 이유 \n\n## 출력 형식\n- 불필요한 메타 정보에 대한 설명 등은 빼주세요 \n- article ID는 직접 노출하지는 말고 기사 제목 등으로 사용자가 지정하면 내부적으로 활용해주세요\n- 여러 기사를 찾는 질문에는 요약 내용을 좀더 보여서 나열해주세요 ( title, 요약, link)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        -16
      ],
      "id": "73200d1a-07e2-41d2-a3e0-3c1987124d2e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        224
      ],
      "id": "b2618ab9-7783-4341-8103-976631257d4e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KQZvlydfNL4rV435",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        480
      ],
      "id": "9d69fc73-c996-43be-842c-6a979d06d774",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "KQZvlydfNL4rV435",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        224
      ],
      "id": "a80f5241-24b1-4538-b0f3-8e24e9ecc36b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ai news를 찾을 때 쓰는 vector store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "213fc57f-d264-4064-b071-d47425434a5c",
      "name": "news vector store",
      "credentials": {
        "supabaseApi": {
          "id": "OJue8nmdRqyBI5uL",
          "name": "newhackers supabase"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "article_id를 활용한 전문분석, 등급 판단 이유 등의 이유 분석 시 사용함 ",
        "operation": "get",
        "tableId": "articles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        528,
        224
      ],
      "id": "148a8c31-5507-4881-bdea-6870a3e7d35c",
      "name": "article table query",
      "credentials": {
        "supabaseApi": {
          "id": "OJue8nmdRqyBI5uL",
          "name": "newhackers supabase"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "news vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "news vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "article table query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0f8ed56-a2fd-4046-8fed-7d3cfb9fdba2",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "w8WbqRdFQa4IhEbq",
  "tags": []
}