source_workflow/10/10-1. Telegram Agent.json
{
  "name": "1. Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a68ef038-8a3f-454a-a0b4-496889076123",
      "name": "Telegram Trigger",
      "webhookId": "727ead5d-a7ad-49a2-84d2-551afe34a228",
      "credentials": {
        "telegramApi": {
          "id": "qWdebRRardNnIODB",
          "name": "Telegram elantestbot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        80
      ],
      "id": "ffed864a-c129-40ab-90af-3e23a87cfbf6",
      "name": "Get a file",
      "webhookId": "b8a9bb53-2c2d-4357-855e-1d1d30fcbb5d",
      "credentials": {
        "telegramApi": {
          "id": "qWdebRRardNnIODB",
          "name": "Telegram elantestbot"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        640,
        80
      ],
      "id": "fb69ef6e-379c-4b64-be29-0dd61087f50d",
      "name": "Transcribe audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "MKecfkjuRoDYUIwi",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "uyVNoMrnUku1dZyVEXwD",
          "mode": "list",
          "cachedResultName": "Anna Kim"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        1536,
        96
      ],
      "id": "b33a21f7-cc9c-4acd-8af4-927c9e6a0145",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "MKecfkjuRoDYUIwi",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        96
      ],
      "id": "e1fcce77-85e9-488b-b9f8-e45f516561fb",
      "name": "Send an audio file",
      "webhookId": "44a6bd32-18d0-4a16-b953-2d54cbe3624e",
      "credentials": {
        "telegramApi": {
          "id": "qWdebRRardNnIODB",
          "name": "Telegram elantestbot"
        }
      }
    },
    {
      "parameters": {
        "content": "## 유머 Agent",
        "height": 672,
        "width": 2000
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -256
      ],
      "id": "145eccc9-55a9-48a2-b5f3-1d8622ad8606",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b58dceb-08f9-4763-89de-785a597b053e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "afd660f0-e994-4a7a-8c4b-ced0b01b07d6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        0
      ],
      "id": "fb9a55f6-84eb-4e36-879a-80dc30ca317d",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Switch').item.json.message.text }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d2bbb211-e892-4044-88c1-790704cd2a07"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "56fced28-9f01-4b19-afd4-442a7a788e03",
                    "leftValue": "={{ $('Switch').item.json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1248,
        -16
      ],
      "id": "80f4a787-b8a7-403f-8851-a809e2e20bcb",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "1301607555",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        -128
      ],
      "id": "c4f78a2d-3098-4e77-9a51-a52275441c62",
      "name": "Send a text message",
      "webhookId": "837b5fbc-7bad-47c8-990f-0d96c576f46e",
      "credentials": {
        "telegramApi": {
          "id": "qWdebRRardNnIODB",
          "name": "Telegram elantestbot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7247c24d-f050-43a2-9dd6-7737fda3ce2c",
              "name": "chatmode",
              "value": "text",
              "type": "string"
            },
            {
              "id": "f015e942-206f-4c0e-a762-9d5fb2959f02",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -96
      ],
      "id": "d5d3f6d9-2926-4fbc-981d-43ff1d3cf0db",
      "name": "Text variable Pass"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        256
      ],
      "id": "560284fd-4217-402f-956c-2ac55648d7cf",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "KQZvlydfNL4rV435",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "너는 세상에서 가장 웃긴 개그맨이야.\n어떤 말이 오든 재미있게 받아쳐주세요 "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        944,
        -16
      ],
      "id": "8dd15c65-6c5c-41ec-95a1-f0d7a5aef639",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        256
      ],
      "id": "f73421fa-29da-40c5-97d6-b66a52cd0ad3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KQZvlydfNL4rV435",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        256
      ],
      "id": "c6ab94ab-f277-4f45-bc92-418cc08b3808",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "너는 세상에서 가장 웃긴 개그맨이야.\n어떤 말이 오든 재미있게 받아쳐주세요 "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        -880
      ],
      "id": "14c63509-f14c-49e4-bbec-798590a75706",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        528,
        -880
      ],
      "id": "cb8c61e7-e48b-4730-9b9c-7bc16fa19cfd",
      "name": "When chat message received",
      "webhookId": "2bfdb67b-9aa1-40d9-9f34-244f0726a836"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        -672
      ],
      "id": "5a27f04a-7fbf-4d06-8969-3b17469db8da",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3w4gWmGJOxf5DF2f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent Basic",
        "height": 448,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -912
      ],
      "id": "bce2f260-f9cc-40a7-93bb-b612e6c50b33",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### 2. 텔레그램 기반 AI Agent 구축\n* **Chat Trigger**: n8n 내부 채팅 또는 `production url`을 통해 외부에서 챗봇을 시작할 수 있으며, 인사말(greetings), 플레이스 홀더(place holder), 스타일 커스텀이 가능합니다.\n* **유머 생성기 Agent**:\n    * **메모리(Memory) 기능**: Agent가 이전 대화 내용을 기억하도록 설정합니다.\n        * **Basic Memory**: 인스턴스가 꺼지면 대화 기록이 사라지므로, 영구 저장을 위해 **Supabase** 등에 저장해야 합니다.\n        * **Session Key**를 설정하여 특정 대화 세션을 구분합니다.\n    * **Instruction**: Agent의 역할(예: 세상에서 가장 웃긴 개그맨)을 정의하는 기본 지식을 설명합니다.\n    * **n8n 디버깅 영역**: n8n 하단에서 **AI Agent의 연쇄적인 호출 현황**을 GUI로 시각적으로 확인할 수 있습니다.\n* **텔레그램 연동 과정**:\n    1.  **텔레그램 설치** 및 **BotFather**를 통해 봇 생성 후 **AccessToken** 발급.\n    2.  n8n에 **Credential** 및 **텔레그램 Trigger** 설정.\n    3.  수신된 메시지가 **text**인지 **voice**인지에 따라 워크플로우를 분기 처리 (`Switch` 노드 활용).\n    4.  **Elevenlabs** 또는 **ChatGPT/Gemini** 모델을 활용하여 음성-텍스트 변환(**STT**) 및 텍스트-음성 변환(**TTS**)을 구현합니다.",
        "height": 576,
        "width": 656,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -928
      ],
      "id": "c9b5eaf0-9515-44ca-8995-2c385fb32ef8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        -672
      ],
      "id": "5dce6f9a-3c4c-4952-96af-8a71c2ac3969",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text variable Pass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text variable Pass": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5028e43e-9898-44ed-af1d-d4221220c514",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "qLRO8Jw0nxiFuhF0",
  "tags": []
}