source_workflow/10/10-3. SubAgent.json
{
  "name": "3. SubAgent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        0
      ],
      "id": "b43725de-e4a5-4687-a02b-f0d6b7f560a4",
      "name": "When chat message received",
      "webhookId": "f18a794e-c3d7-4961-b020-d75a6b301ff7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        352
      ],
      "id": "75528427-7fee-4c86-bff3-db91296591d0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3w4gWmGJOxf5DF2f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Gmail에서 특정 기간의 이메일 리스트를 모두 반환하는 툴입니다. ",
        "operation": "getAll",
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        240,
        544
      ],
      "id": "5b2ebeec-70fe-46d9-8afa-be807c068127",
      "name": "gmail_search",
      "webhookId": "e0e7bac4-ccd7-45f5-bb80-c783690560c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mkl1JIj0cS8kVuKk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "joosung80@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        352,
        544
      ],
      "id": "8c6b8902-e242-4ab7-a44a-b2d9b012567b",
      "name": "send_message",
      "webhookId": "65afa778-0d2c-4567-b23a-276647cae6b2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mkl1JIj0cS8kVuKk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        560
      ],
      "id": "4205edb8-0fc1-4c52-8a35-e225a7090e49",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=## 역할 (Role)\n당신은 개인 비서입니다.\n당신은 주어진 임무(JOB)에 가장 적합한 도구(TOOL)를 판단하고, 사용자 요청(User Query)을 해당 도구에 전달하는 전문가입니다.\n\n## 도구 (Tool)\n- `Gmail Agent`: Gmail 검색 및 메일 발송에 사용됩니다.\n- `Calendar Agent`: 일정 관리에 사용됩니다.\n\n## 임무 (Mission)\n- 사용자로부터 위 도구(TOOL)에 대한 명령어 또는 질문을 받게 됩니다.\n- 당신의 임무는 각 도구(TOOL)에 다음 2개의 변수(Variables)를 전달하는 것입니다:\n\t- \"User Query\" : 사용자의 원본 요청 사항\n\t- \"description\" : 완수해야 할 **작업(TASK)**에 대한 상세 설명\n\n## 지침 (Instruction)\n\n1.  **Description 생성:**\n    다른 에이전트들이 사용자의 의도를 더 잘 해석할 수 있도록, 사용자 요청에 따라 \"description\"을 **명확하게 정의하여 생성**해야 합니다.\n\n2.  **도구 간 협업 및 조정:**\n    **두 시스템이 서로 연동되어 작동하도록 해야 합니다.**\n    예를 들어, 사용자가 일정을 생성하고 해당 일정에 대해 누군가에게 이메일을 보내고 싶다면, 당신은 두 에이전트 간의 **커뮤니케이션을 조정**해야 합니다."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        304,
        0
      ],
      "id": "4b3e21fb-0bc7-44d4-b205-82ac82b0a1ad",
      "name": "Classifier"
    },
    {
      "parameters": {
        "description": "Google Calendar가 필요할 때 이 툴을 써주세요",
        "workflowId": {
          "__rl": true,
          "value": "hmkjoL4lprgoNzfQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/hmkjoL4lprgoNzfQ",
          "cachedResultName": "Calendar SubAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userQuery": "={{ $json.chatInput }}",
            "jobDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobDescription', ``, 'string') }}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userQuery",
              "displayName": "userQuery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "jobDescription",
              "displayName": "jobDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        528,
        304
      ],
      "id": "838d6cb7-27c2-4504-88d9-18f68708b086",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "toolDescription": "Gmail 메일 검색, 메일 발송 기능을 담담하는 Agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=당신은 Gmail 비서로써 메일 검색, 메일 발송 기능을 담담합니다.\n하기 tool을 사용하여 실제 Action 을 취해주세요 \n\n### Tool List\n- `gmail_search` : 기간(EX 2025/10/01~2025/10/8) 에 해당하는 메일의 타이틀을 조회하는 목적\n- `send_message` : 이메일을 보내는 툴\n\n오늘 날짜는 {{ $now.format(\"yyyy-MM-dd\") }} 입니다. \n\n### gmail search\n- tool 의 gmail_search를 통해 가지고 온 타이틀 중에 키워드 관련된 항목만 필터링을 하여 보여주세요 \n```\n[\n   \"title1\",\n   \"title2\"\n]\n```\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        128,
        352
      ],
      "id": "f3fec9db-dbc9-4f5c-9f20-7a4fdb259778",
      "name": "Gmail Agent"
    },
    {
      "parameters": {
        "content": "## SubAgent 구현",
        "height": 704,
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -16
      ],
      "id": "68cc4ce4-745c-40c9-9aeb-0e5c48cd986e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me a list of 5 animals.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant. Respond only with valid JSON in this exact structure:\n{\n  \"animals\": [\n    {\n      \"name\": \"string\",\n      \"habitat\": \"string\",\n      \"description\": \"string\"\n    }\n  ]\n}\nDo not add extra text or markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        960
      ],
      "id": "89651138-b47e-4da8-bba0-ef8378ad8567",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"animals\": [\n    {\"name\": \"Lion\", \"habitat\": \"Savanna\", \"description\": \"King of the jungle.\"},\n    {\"name\": \"Elephant\", \"habitat\": \"Forest\", \"description\": \"Largest land animal.\"}\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        1168
      ],
      "id": "511042b0-17ec-4169-be26-9bc7034f53dd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        1168
      ],
      "id": "d9ecfe55-7f7b-45c2-8e0e-21d5e3c0e4d9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3w4gWmGJOxf5DF2f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        960
      ],
      "id": "37553752-5329-4ac1-a152-2ef13d740ee8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.animals",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        960
      ],
      "id": "27f41521-3c26-4fcd-aaf0-3097bd851962",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "=하기 정보를 바탕으로 이미지를 그려주세요\n\n- 이름 : {{ $json.name }}\n- 서식지 : {{ $json.habitat }}\n- 설명 : {{ $json.description }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        800,
        976
      ],
      "id": "d1b85787-8ba1-45cf-9bce-50071507ef63",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "3w4gWmGJOxf5DF2f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1301607555",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        976
      ],
      "id": "332ff01b-8087-40c8-898f-16c78ddbebd7",
      "name": "Send a photo message",
      "webhookId": "cd27284e-8a6d-442b-8a15-ff77e9469f34",
      "credentials": {
        "telegramApi": {
          "id": "qWdebRRardNnIODB",
          "name": "Telegram elantestbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        960
      ],
      "id": "70579d7e-1088-44ae-a7e6-aeaf722c4875",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## JSON Ouptput Sample",
        "height": 576,
        "width": 1632,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        848
      ],
      "id": "320b5599-c53c-4179-8abf-c529c2435bfc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## JSON Output Sample\n\nRequire Specific output format",
        "height": 272,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -944,
        864
      ],
      "id": "2141fc4d-aa62-4b4c-a870-c18f28419feb",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gmail_search": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "send_message": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Agent": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1212d6c2-0531-4086-b22d-ade9f3ed5e8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "rhRPw0Qu8pVLzSUI",
  "tags": []
}