source_workflow/9th/9.웹크롤링.json
{
  "name": "웹크롤링",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        416
      ],
      "id": "45a59954-90ba-4a0d-963b-3f457ec1a582",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// 1. 구조 분해 할당으로 각 배열을 변수에 할당합니다.\nconst { rank, title, link } = items[0].json;\n\n// 2. .map() 함수를 사용해 rank 배열을 기준으로 새로운 배열을 만듭니다.\nconst results = rank.map((r, index) => ({\n  json: {\n    rank: r,\n    title: title[index],\n    link: link[index]\n  }\n}));\n\n// 3. 완성된 배열을 반환합니다.\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        416
      ],
      "id": "d06ad57e-eb71-4f2f-9445-b51dd2f6ef7d",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        416
      ],
      "id": "5647f414-33b8-4b9b-b800-b89c0f4612de",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "## AI TIMES Most Popular Crawling",
        "height": 608,
        "width": 1536,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        320
      ],
      "id": "ce7f4383-7107-4998-beaa-1f3f09198f40",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1201158716272160788",
          "mode": "list",
          "cachedResultName": "elanvital Private Server",
          "cachedResultUrl": "https://discord.com/channels/1201158716272160788"
        },
        "channelId": {
          "__rl": true,
          "value": "1424172144190951474",
          "mode": "list",
          "cachedResultName": "n8ntest",
          "cachedResultUrl": "https://discord.com/channels/1201158716272160788/1424172144190951474"
        },
        "content": "=",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.content.parts[0].text }}",
              "author": "={{ $('Extract Data by Firecrawl').item.json.data.json.author }}",
              "timestamp": "={{ $('Extract Data by Firecrawl').item.json.data.metadata.publishedTime }}",
              "title": "={{ $('Extract Data by Firecrawl').item.json.data.json.title }}",
              "url": "={{ $('Extract Data by Firecrawl').item.json.data.metadata.url }}",
              "image": "={{ $('Extract Data by Firecrawl').item.json.data.metadata[\"twitter:image\"] }}",
              "thumbnail": "https://www.aitimes.com/image/logo/snslogotrans_20250610094832.png"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        560,
        704
      ],
      "id": "719388a0-1c8a-4940-ab06-87003c534dbc",
      "name": "send to Discord",
      "webhookId": "e5d669ca-9e67-4601-8ee8-3f72bdfc5af2",
      "credentials": {
        "discordBotApi": {
          "id": "1yibvkILAJZwRPFu",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=하기 AI 뉴스 기사를 5줄 불릿포인트 및 개조식으로 요약해주세요. 요약에 대한 정보만 주세요.\n>>>\n{{ $json.data.json.contents }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        32,
        704
      ],
      "id": "337e8927-5063-42c5-baaa-bcf4e2e6cbbd",
      "name": "Summary Article",
      "credentials": {
        "googlePalmApi": {
          "id": "3w4gWmGJOxf5DF2f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.aitimes.com/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/118.0\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"en-US,en;q=0.5\",\n  \"DNT\": \"1\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        416
      ],
      "id": "848c4872-4845-48f6-885b-cc98064585c5",
      "name": "Get AITimes Homepage"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.link }}\",\n  \"formats\": [\n    {\n      \"type\": \"json\",\n      \"prompt\": \"이 기사에서 제목(title), 전체 본문 내용(content), 그리고 기자 이름(author)을 추출해서 알려줘.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        704
      ],
      "id": "6a8c22a0-6ee9-436f-9d5a-bbded39131ec",
      "name": "Extract Data by Firecrawl",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vZ69BjiDEy2q4BKq",
          "name": "Firecrawl API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 구조 분해 할당으로 각 배열을 변수에 할당합니다.\nconst { title, link } = items[0].json;\n\n// 2. .map() 함수를 사용해 rank 배열을 기준으로 새로운 배열을 만듭니다.\nconst results = title.map((t, index) => ({\n  json: {\n    title: t,\n    link: link[index]\n  }\n}));\n\n// 3. 완성된 배열을 반환합니다.\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1152
      ],
      "id": "81e6813a-8446-42f7-89e5-2eb57b18f0a0",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "https://www.aitimes.com/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/118.0\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"en-US,en;q=0.5\",\n  \"DNT\": \"1\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1152
      ],
      "id": "47688837-56f2-4731-93b4-31831a67d0a6",
      "name": "Get AITimes Homepage1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        1152
      ],
      "id": "418e98f9-93a6-4d08-a2d4-17f9c7860ca9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rank",
              "cssSelector": "#skin-9 .item .number",
              "returnArray": true
            },
            {
              "key": "title",
              "cssSelector": "#skin-9 .item a h2",
              "returnArray": true
            },
            {
              "key": "link",
              "cssSelector": "#skin-9 .item a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        192,
        416
      ],
      "id": "49a6316b-d2eb-4c6e-8fa3-6da6cabd9d34",
      "name": "Most Popular Sector Extrator"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "#skin-8 .item .auto-content .auto-titles",
              "returnArray": true
            },
            {
              "key": "link",
              "cssSelector": "#skin-8 .item .auto-content a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        144,
        1152
      ],
      "id": "b90d9506-54f5-4ad1-89a4-f92d3d3caef1",
      "name": "Headline Section Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        1536
      ],
      "id": "2c9264c4-c5b1-4c6a-b2de-c5b732de8ccf",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Mobile Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Sec-Ch-Ua\": \"\\\"Google Chrome\\\";v=\\\"118\\\", \\\"Chromium\\\";v=\\\"118\\\", \\\"Not=A?Brand\\\";v=\\\"99\\\"\",\n  \"Sec-Ch-Ua-Mobile\": \"?1\",\n  \"Sec-Ch-Ua-Platform\": \"\\\"Android\\\"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        1552
      ],
      "id": "cc411f04-5062-4e6b-8d81-4de26cc07474",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        112,
        1552
      ],
      "id": "9a2ebf00-e275-4cc6-865e-c87a24c1c93c",
      "name": "Markdown"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        1552
      ],
      "id": "6fa28215-36af-4aad-b88e-758c610d266a",
      "name": "Wait",
      "webhookId": "81590a8b-af6f-4376-b63a-29546ed9865c"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -80,
        1392
      ],
      "id": "bfa06e5c-d8d2-4832-bea1-31fb738285e7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "joosung80@gmail.com",
        "subject": "=AI Times 뉴스 기사 요약 - `{{ $now.format('yyyy-MM-dd') }}`",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        688,
        1392
      ],
      "id": "d49cc019-52b3-4ed7-85c0-57c3582909a7",
      "name": "Send a message",
      "webhookId": "84dc9229-6a6d-4662-ad32-269ecd359e86",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mkl1JIj0cS8kVuKk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=## 요청사항\nAITIMES 뉴스기사를 요약해줘. \n- 각 기사별 제목, 요약 3줄, 링크로 구성해주세요\n- Gmail로 보내는 본문으로 HTML 지원됨\n- 타이틀은 볼드 처리해주세요 \n- 요약은 불릿 포인트 3줄이고 본문 이외에 불필요요소 모두 제거\n\n## 기사원문\n{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        128,
        1392
      ],
      "id": "944e2401-d08f-4b05-8e56-6c82b4800c26",
      "name": "Summary Whole Article",
      "credentials": {
        "googlePalmApi": {
          "id": "3w4gWmGJOxf5DF2f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI TIMES Headline Crawling",
        "height": 880,
        "width": 1760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        1040
      ],
      "id": "72dd4564-5c9c-42ca-b11e-e2e97903d8b2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6d1acf5-909c-452e-8c58-7570fe3be8fa",
              "name": "title",
              "value": "={{ $('Code1').item.json.title }}",
              "type": "string"
            },
            {
              "id": "4aade1f4-7d60-455d-9a01-ca79125fc2f8",
              "name": "data",
              "value": "={{ $('Markdown').item.json.data }}",
              "type": "string"
            },
            {
              "id": "2e74fe50-5501-41b0-aa66-864fd4e37336",
              "name": "link",
              "value": "={{ $('Code1').item.json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        1552
      ],
      "id": "d6d8f996-6407-46cf-a374-4f63b85cb390",
      "name": "set all info"
    },
    {
      "parameters": {
        "content": "#### **시나리오 1: MOST POPULAR 기사 요약 및 Discord 게시**\n\n이 워크플로우는 수동으로 실행되며, 다음과 같은 순서로 동작합니다.\n\n1.  **`Get AITimes Homepage` (HTTP Request 노드)**\n\n      * **목적**: AI TIMES 홈페이지(`https://www.aitimes.com/`)의 전체 HTML 소스를 가져옵니다.\n      * **핵심 설정**: Request Headers의 \\*\\*`User-Agent`\\*\\*를 실제 크롬 브라우저 값으로 설정하여 크롤러가 아닌 일반 사용자인 것처럼 위장합니다.\n\n    ```json\n    {\n        \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.5615.136 Safari/537.36\",\n        \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\"\n    }\n    ```\n\n2.  **`Scrape Most Popular Section` (HTML 노드)**\n\n      * **목적**: 이전 노드에서 받은 HTML 소스에서 'Most Popular' 섹션의 기사 목록(순위, 제목, 링크)을 추출합니다.\n      * **핵심 설정**: 개발자 도구로 찾은 CSS Selector를 사용하여 원하는 데이터를 정확히 지정합니다.\n          * **`rank`**: `#skin-9 .item .number`\n          * **`title`**: `#skin-9 .item a h2`\n          * **`link`**: `#skin-9 .item a` (추출 값: `href` Attribute)\n      * 이 노드를 거치면 rank, title, link가 각각의 배열 형태로 출력됩니다.\n\n3.  **`Make target objects` (Code 노드)**\n\n      * **목적**: 분리된 3개의 배열(rank, title, link)을 하나의 배열로 합치고, 각 기사가 하나의 객체(Object)가 되도록 데이터를 재구성합니다. 이는 이후 노드에서 각 기사를 개별적으로 다루기 쉽게 만듭니다.\n      * **핵심 코드**: `map()` 함수를 사용하여 각 배열의 동일한 인덱스에 있는 값들을 묶어 새로운 객체를 만듭니다.\n\n4.  **`Limit` (Limit 노드)**\n\n      * **목적**: 테스트를 위해 전체 워크플로우를 실행할 아이템의 수를 제한합니다. 예를 들어 '1'로 설정하면 가장 인기 있는 기사 하나에 대해서만 자동화가 실행됩니다.\n\n5.  **`firecrawl only prompt` (HTTP Request 노드)**\n\n      * **목적**: 개별 기사의 링크를 받아 **Firecrawl API**를 호출하여 기사의 핵심 내용(제목, 본문, 기자 이름)을 AI를 통해 지능적으로 추출합니다.\n      * **핵심 설정**:\n          * **URL**: `https://api.firecrawl.dev/v2/scrape`\n          * **Authentication**: `Header Auth`를 사용하며, 미리 발급받은 Firecrawl API 키를 인증 정보로 사용합니다.\n          * **JSON Body**: Firecrawl에 요청할 내용을 담습니다. `url` 값으로는 이전 노드에서 넘어온 기사 링크 `{{ $json.link }}`를 동적으로 넣어줍니다. `prompt`를 사용해 원하는 정보를 자연어로 지시합니다.\n\n6.  **`Summary Article` (Google Gemini 노드)**\n\n      * **목적**: Firecrawl이 추출한 기사 본문(`content`)을 Google Gemini 모델을 이용해 5줄의 불릿포인트로 요약합니다.\n\n7.  **`Publish to Discord` (Discord 노드)**\n\n      * **목적**: 최종적으로 요약된 기사 내용을 Discord 채널에 보기 좋은 **임베드(Embed)** 형식으로 게시합니다.\n      * **핵심 설정**: 임베드의 각 필드(제목, 설명, URL 등)에 이전 노드들에서 가져온 데이터를 n8n 표현식(`{{ }}`)을 사용하여 동적으로 채워 넣습니다.\n\n",
        "height": 1088,
        "width": 928,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        -16
      ],
      "id": "a73e4512-4667-4dfb-ad68-321b8d038d47",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "#### **시나리오 2: HEADLINE 기사 전체 요약 및 Gmail 발송**\n\n이 워크플로우는 매일 오전 10시에 자동으로 실행되도록 **Schedule Trigger**로 시작됩니다.\n\n1.  **`Get AITimes Homepage1` → `Headline sector extrator` → `Make target objects1`**: 시나리오 1과 동일한 원리로 동작하지만, 'Headlines' 섹션(`id=\"skin-8\"`)에서 기사 제목과 링크 목록을 가져옵니다.\n\n2.  **`Loop Over Items` (SplitInBatches 노드)**\n\n      * **목적**: 여러 개의 헤드라인 기사를 하나씩 순회하며 처리하기 위한 \\*\\*루프(Loop)\\*\\*를 생성합니다.\n\n3.  **`HTTP Request` → `Markdown` → `Wait` (루프 내부)**\n\n      * 루프는 각 기사 링크에 대해 HTTP 요청을 보내 전체 HTML을 가져온 뒤, `Markdown` 노드를 통해 텍스트만 추출합니다. `Wait` 노드는 서버에 과도한 부하를 주지 않기 위해 각 요청 사이에 1초의 지연 시간을 둡니다.\n\n4.  **`Aggregate` (Aggregate 노드)**\n\n      * **목적**: 루프를 돌며 개별적으로 추출된 모든 기사의 본문 텍스트를 하나의 데이터로 합칩니다.\n\n5.  **`Summary Whole Article` (Google Gemini 노드)**\n\n      * **목적**: 합쳐진 전체 기사 본문을 Gemini에 전달하여 HTML 형식의 요약문을 생성하도록 요청합니다.\n      * **핵심 설정 (Prompt)**: 각 기사별로 제목, 요약 3줄, 링크를 포함하고, 제목은 볼드 처리하는 등 Gmail 본문에 적합한 형태로 결과물을 만들도록 구체적으로 지시합니다.\n\n\n    ```\n    AITIMES 뉴스기사를 요약해줘. \n    - 각 기사별 제목, 요약 3줄, 링크로 구성해주세요\n    - Gmail로 보내는 본문으로 HTML 지원됨\n    - 타이틀은 볼드 처리해주세요 \n    - 요약은 불릿 포인트 3줄이고 본문 이외에 불필요요소 모두 제거\n    {{ $json.data }}\n    ```\n\n6.  **`Send a message` (Gmail 노드)**\n\n      * **목적**: Gemini가 생성한 HTML 요약문을 지정된 이메일 주소로 발송합니다. 메일 제목에는 `{{ $now.format('yyyy-MM-dd') }}` 표현식을 사용해 오늘 날짜를 동적으로 포함시킵니다.",
        "height": 880,
        "width": 928,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1600,
        1104
      ],
      "id": "64da2f23-36c4-4e36-a714-38bdd62c24a5",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get AITimes Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Extract Data by Firecrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Article": {
      "main": [
        [
          {
            "node": "send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AITimes Homepage": {
      "main": [
        [
          {
            "node": "Most Popular Sector Extrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data by Firecrawl": {
      "main": [
        [
          {
            "node": "Summary Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AITimes Homepage1": {
      "main": [
        [
          {
            "node": "Headline Section Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get AITimes Homepage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Most Popular Sector Extrator": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Headline Section Extractor": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "set all info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summary Whole Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Whole Article": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set all info": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4f3fd29-a8df-4478-a02f-7bc101786d30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "JX59c8jzkNH3Z7EB",
  "tags": []
}